html,body {
  margin: 0;
  padding: 0;
}


h2 {
margin-top: 0 !important;
}

#crypto-table {
  margin-top: 10%;
}

ul {
  margin-top: 50px;
}

.active {
  background-color: #ffa726 !important;
}

.bold {
  font-weight: 600;
}